<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Mensal</title>
</head>
<style>
    div {
        border: 1px solid blue;
        background: rgb(216, 216, 223);
        margin: auto;
        width: 320px;
        font-size: 30px;
    }
    body{
        text-align: center;
         margin-bottom: 50px;
    }
    a{
        text-decoration: none;
        background: red;
        margin-top: 20px;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
    .relatorio{
        width: 200px;
        margin: auto;
        font-size: 30px;
    }
    input{
        font-size: 30px;
    }
    button{
        background: green;
        padding: 5px;
        border-radius: 8px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
</style>
<body>
    <form class="relatorio" action="/relatorio-mensal" method="get">
        <label for="mes">Escolha o mês:</label><br>
        <select name="mes" id="mes">
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select><br>
      
        <label for="ano">Escolha o ano:</label>
        <select name="ano" id="ano">
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <!-- Adicione outros anos conforme necessário -->
        </select><br>
      
        <button type="submit">Ver Relatório</button>
      </form>
    <h1>Relatório Mensal - <%= mes %>/<%= ano %></h1>
    <div><p>Total de Entradas: R$ <%= total_entrada_mes.toFixed(2) %></p></div>
    <div> <p>Total de Saídas: R$ <%= total_saida_mes.toFixed(2) %></p></div>
    <div> <p>Saldo: R$ <%= saldo_mes.toFixed(2) %></p></div><br><br>
<h2>Total de Serviços</h2>
<div>
    <p>Total de Serviços: <%= totalServicos.total_servicos %></p>
    <p>Cortes: <%= totalServicos.cortes %></p>
    <p>Barbas: <%= totalServicos.barbas %></p>
    <p>Sobrancelha: <%= totalServicos.sobrancelha %></p>
    <p>Hidratação: <%= totalServicos.hidratacao %></p>
    <p>Selagem: <%= totalServicos.selagem %></p>
    <p>Infantil: <%= totalServicos.infantil %></p>
    <p>Tesousa: <%= totalServicos.tesousa %></p>
    <p>Produtos: <%= totalServicos.produtos %></p>
    <p>Saídas: R$ <%= totalServicos.saidas %></p>
</div>
<hr><br>

    <h2>Serviços por Barbeiro</h2>
<% servicosPorBarbeiro.forEach(barbeiro => { %>
    <div>
        <h3>Barbeiro ID: <%= barbeiro.nome_barbeiro %></h3>
        <p>Total de Serviços: <%= barbeiro.total_servicos %></p>
        <p>Cortes: <%= barbeiro.cortes %></p>
        <p>Barbas: <%= barbeiro.barbas %></p>
        <p>Sobrancelha: <%= barbeiro.sobrancelha %></p>
        <p>Hidratação: <%= barbeiro.hidratacao %></p>
        <p>Selagem: <%= barbeiro.selagem %></p>
        <p>Infantil: <%= barbeiro.infantil %></p>
        <p>Tesousa: <%= barbeiro.tesousa %></p>
        <p>Produtos: <%= barbeiro.produtos %></p>
        <p>Saídas: R$ <%= barbeiro.saidas %></p>
    </div>
<% }); %>
<hr><br><br>
    <a href="/">Voltar</a>
</body>
</html>
